.next-button{
	position: relative;
	float: left;
	height: 50%;
	width: 50%;
	background-color: #2d9bd1;
	text-align: center;
}

.next-button span, .shuffle-button span{
	color: white;
	font-size: 40px;
}

.shuffle-button{
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.input-tag{
	width: 100%;
	height: 50%;
	float: left;
}

.input-go{
	height: 100%;
	width: 100%;
	float: left;
	background-color: #2d9bd1;
	border-top: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	font-size: 40px;
}

#input-tag{
	font-size: 40px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	float: left;
}