@import 'https://fonts.googleapis.com/css?family=Montserrat';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body, html{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	background-size: 100%;
	background-color: black;
}
.html{
	-webkit-font-smoothing: antialiased;
}

.desktop{
	cursor: none;
	height: 100%;
	width: 100%;
}

.btn{
	display: inline;
	height: 20px;
	padding: 5px 20px 5px 20px;
	margin-left: 20px;
	cursor: pointer;
	border-radius: 2px;
	color: black;
	background-color: white;
}

.btn:hover{
	background-color: #dddddd;
}

.change-button{
	
}

.change-button:hover, .reset-button:hover, .fullscreen-button:hover{
	
}

.reset-button{

}

.fullscreen-button{

}

.tag{
	transform: translateY(-50px);
	cursor: default;
	position: absolute;
	height: 50px;
	background-color: #090e14;
	z-index: 100;
	width: 100%;
	text-align: center;
	transition-property: transform;
	transition-duration: 0.5s;
}

.madeby{
	display: none;
	position: absolute;
	bottom: 0;
	height: 20px;
	background-color: #090e14;
	color: white;
	width: 100%;
	text-align: center;
	z-index: 100;
}

.madeby a{
	text-decoration: none;
	color: white;
}

body.show-tag .tag{
	transform: translateY(0px);
	transition-property: transform;
	transition-duration: 0.5s;
}

body.show-tag .madeby {
	display: block;
}

body.show-tag{
	cursor: default;
}

input{
	background-color: white;
	padding: 5px 5px 5px 5px;
	width: 200px;
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid #DDDDDD;
}

input:focus{
	border: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.input_controls{
	position: relative;
	line-height: 50px;
	display: inline-block;
}

span{
	color: white;
	font-size: 12px;
	color: #979797;
}

.powered-by{
	position: absolute;
	right: 10px;
	top: 25%;
}

.title{
	position: absolute;
	color: white;
	text-align: left;
	font-size: 20px;
	padding-left: 20px;
	top: 25%;
}

.title span{
	color: white;
	padding-left: 25px;
}

.gif img { 
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  max-width: 100%;
}
.image_1{
	z-index: 10;
}
.image_2{
	z-index: -1;
}
.background-transparant{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 5;
	opacity: 0.7;
	background-color: black;
}

.gif{
	position: relative;
	height: 100%;
	width: 100%;
}

.active{
	background-color: #2d9bd1;
	color: white;
}

.show{
	display: block;
}

.logo{
	display: none;
	opacity: 0.5;
	height: 50px;
	z-index: 20;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: opacity 0.5s;
}

.logo:hover{
	opacity: 1;
	transition: opacity 0.5s;
}

.tv{
	height: 22px;
	width: 22px;
}



.popup{
	position: fixed;
	height: 500px;
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
}

.popup--content{
	opacity: 1;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	position: absolute;
	top: 30%;
}

.popup--content p{
	margin-bottom: 20px;
}

.desktop .closebtn{
	top: 60px;
	right: 30px;
}

.desktop .popup--content{

}

.closebtn{
	position: absolute;
	top: -20px;
	right: 20px;
	font-size: 38px;
	color: white;
	cursor: pointer;
}

.hidden{
	display: none;
}

// Mobile

.mobile{
	text-align: center;
}

.shuffle-button, .next-button{
	position: fixed;
	bottom: 30px;
	height: auto;
	padding: 30px 30px 30px 30px;
	margin: 0;
}

.shuffle-button{
	left: 20px;
}

.next-button{
	right: 20px;
}

.mobile-input{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inputfield-tag{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
}

.giftv-logo{
	width: 100%;
	height: 40px;
	text-align: center;
	position: relative;
	color: white;
}

.giftv-logo span{
	padding: 0;
	font-size: 40px;
	line-height: 40px;
}

.giftv-logo img{
	height: 100%;
	width: auto;
}

.gobutton{
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
}

.input-go{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.id{
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}



